## Lib import

In [1]:
import names
import random
import pandas as pd

## Create Class

In [2]:
class Employee:
    
    num_of_emps = 0
    emp_list = []
    raise_amt = 1.04    
    last_id = 0
    
    def __init__(self, first, last, pay):
        self.id = int(Employee.last_id+1)
        self.first = first
        self.last = last
        self.pay = pay
        self.tag = 'Employee'
        Employee.emp_list.append(self)
        Employee.num_of_emps = len(Employee.emp_list)
        Employee.last_id += 1

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount)
        
    def fire_emp(self):
        Employee.emp_list.remove(self)
        Employee.num_of_emps = len(Employee.emp_list)
        del self
        
    @property
    def email(self):
        return '{}.{}@awesome.com'.format(self.first.lower(), self.last.lower())
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount
    
    @classmethod
    def get_df(cls):        
        df = pd.DataFrame()
        for emp in Employee.emp_list:
            df = df.append({'ID': emp.id, 'First': emp.first, 'Last': emp.last, 'Pay': emp.pay, 'Email': emp.email, 'Tag': emp.tag}, ignore_index=True)
            df = df.astype({'ID': int, 'Pay': float})
            df = df.reindex(columns=['ID', 'First', 'Last', 'Pay', 'Email', 'Tag'])
        return df
    
    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)
    
    def __str__(self):
        return '{} - {}'.format(self.fullname, self.email)
    
    def __len__(self):
        return len(self.fullname())
    
class Developer(Employee):
    raise_amt = 1.10
    
    def __init__(self, first, last, pay, prog_lang):
        super().__init(first, last, pay)
        self.prog_lang = prog_lang
        self.tag = 'Developer'
        
class Manager(Employee):
    raise_amt = 1.20
    
    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees
        self.tag = 'Manager'
            
    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)
            
    def add_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)
            
    def print_emps(self):
        print([emp.fullname for emp in self.employees])

## Create Random Employees

In [8]:
for x in range(100):
    Employee(names.get_first_name(), names.get_last_name(), random.randint(5, 9)*10000)

In [9]:
Employee.get_df()

      ID    First       Last      Pay                         Email       Tag
0      1  Frances     Palmer  70000.0    frances.palmer@awesome.com  Employee
1      2    Betty  Rousselle  90000.0   betty.rousselle@awesome.com  Employee
2      3   Dorine    Stewart  90000.0    dorine.stewart@awesome.com  Employee
3      4    Helen      Gibbs  90000.0       helen.gibbs@awesome.com  Employee
4      5   Scotty   Mcdevitt  80000.0   scotty.mcdevitt@awesome.com  Employee
..   ...      ...        ...      ...                           ...       ...
106  107   Alicia  Nicodemus  90000.0  alicia.nicodemus@awesome.com  Employee
107  108     John      Shull  80000.0        john.shull@awesome.com  Employee
108  109   Donald      Sacks  50000.0      donald.sacks@awesome.com  Employee
109  110      Amy    Bonilla  50000.0       amy.bonilla@awesome.com  Employee
110  111  Jenifer    Hardter  80000.0   jenifer.hardter@awesome.com  Employee

[111 rows x 6 columns]

In [5]:
mang = Manager('Sue', 'Smith', 120000, Employee.emp_list[2:6])

In [6]:
mang.print_emps()

['Dorine Stewart', 'Helen Gibbs', 'Scotty Mcdevitt', 'Bryan Fields']

In [7]:
print(Employee.emp_list[2])

Dorine Stewart - dorine.stewart@awesome.com