## Lib import

In [83]:
import names
import random
import pandas as pd

## Create Class

In [118]:
class Employee:
    
    num_of_emps = 0
    emp_list = []
    raise_amt = 1.04    
    last_id = 0
    
    def __init__(self, first, last, pay):
        self.id = int(Employee.last_id+1)
        self.first = first
        self.last = last
        self.pay = pay
        self.tag = 'Employee'
        Employee.emp_list.append(self)
        Employee.num_of_emps = len(Employee.emp_list)
        Employee.last_id += 1

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount)
        
    def fire_emp(self):
        Employee.emp_list.remove(self)
        Employee.num_of_emps = len(Employee.emp_list)
        del self
        
    @property
    def email(self):
        return '{}.{}@awesome.com'.format(self.first.lower(), self.last.lower())
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount
    
    @classmethod
    def get_df(cls):        
        df = pd.DataFrame()
        for emp in Employee.emp_list:
            df = df.append({'ID': emp.id, 'First': emp.first, 'Last': emp.last, 'Pay': emp.pay, 'Email': emp.email, 'Tag': emp.tag}, ignore_index=True)
            df = df.astype({'ID': int, 'Pay': float})
            df = df.reindex(columns=['ID', 'First', 'Last', 'Pay', 'Email', 'Tag'])
        return df
    
    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)
    
    def __str__(self):
        return '{} - {}'.format(self.fullname, self.email)
    
    def __len__(self):
        return len(self.fullname())
    
class Developer(Employee):
    raise_amt = 1.10
    
    def __init__(self, first, last, pay, prog_lang):
        super().__init(first, last, pay)
        self.prog_lang = prog_lang
        self.tag = 'Developer'
        
class Manager(Employee):
    raise_amt = 1.20
    
    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees
        self.tag = 'Manager'
            
    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)
            
    def add_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)
            
    def print_emps(self):
        print([emp.fullname for emp in self.employees])

## Create Random Employees

In [119]:
for x in range(10):
    Employee(names.get_first_name(), names.get_last_name(), random.randint(5, 9)*10000)

In [120]:
Employee.get_df()

   ID    First       Last      Pay                       Email       Tag
0   1    Brent    Knights  50000.0   brent.knights@awesome.com  Employee
1   2   Thomas    Stewart  80000.0  thomas.stewart@awesome.com  Employee
2   3    Linda    Clement  60000.0   linda.clement@awesome.com  Employee
3   4   Ronald     Chavez  90000.0   ronald.chavez@awesome.com  Employee
4   5    Betty     Thomas  80000.0    betty.thomas@awesome.com  Employee
5   6  Raymond      Green  50000.0   raymond.green@awesome.com  Employee
6   7   Noreen    Mcclain  80000.0  noreen.mcclain@awesome.com  Employee
7   8     Jack    Johnson  80000.0    jack.johnson@awesome.com  Employee
8   9  Garrett      James  50000.0   garrett.james@awesome.com  Employee
9  10     Mary  Chynoweth  50000.0  mary.chynoweth@awesome.com  Employee

In [121]:
mang = Manager('Sue', 'Smith', 120000, Employee.emp_list[2:6])

In [122]:
mang.print_emps()

['Linda Clement', 'Ronald Chavez', 'Betty Thomas', 'Raymond Green']

In [123]:
print(Employee.emp_list[2])

Linda Clement - linda.clement@awesome.com